mixin video(info)
    div
        h4
            a(href=`/videos/${info._id}`) #{info.title}
        ul
            li #{info.meta && info.meta.rating ? info.meta.rating : "-"} /5
            li Posted #{info.createdAt ? info.createdAt : "-"}
            li #{info.meta && info.meta.views != null ? info.meta.views : 0} views
