mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        div.video-mixin__thumb(style=`background-image:url(${video.thumbnailUrl});`)
            span.video-mixin__play(aria-hidden="true")
                i.fas.fa-play
        div.video-mixin__data
            span.video-mixin__title=video.title
            div.video-mixin__meta
                span.video-mixin__owner #{video.owner ? video.owner.name : "Unknown"}
                span.video-mixin__views #{video.meta.views} views
