extends base

block content
    div.watch
        div.watch__container#videoContainer(data-video-id=video.id)
            video.watch__video(src="/" + video.fileUrl)
            div.watch__controls#videoControls.showing
                div.watch__row.watch__row--timeline
                    input.watch__timeline(type="range", step="1", min="0", value="0")#timeline
                div.watch__row
                    button.watch__btn.watch__btn--icon#play(type="button", aria-label="Play")
                        i.fas.fa-play
                    button.watch__btn.watch__btn--icon#mute(type="button", aria-label="Mute")
                        i.fas.fa-volume-up
                    input.watch__volume(type="range", step="0.1", min="0", max="1")#volume
                    div.watch__time
                        span#time 00:00
                        span.watch__time-sep /
                        span#totalTime 00:00
                    button.watch__btn.watch__btn--ghost.watch__btn--icon#fullScreen(type="button", aria-label="Full screen")
                        i.fas.fa-expand

        section.watch__meta
            div.watch__meta-header
                div
                    h1.watch__title=video.title
                    p.watch__byline
                        span Uploaded by
                        a(href=`/users/${video.owner._id}`)=video.owner.name
                span.watch__date=video.createdAt.toLocaleDateString("ko-KR")
            p.watch__description=video.description
            if String(video.owner._id) === String(user._id)
                div.watch__owner-actions
                    a(href=`/videos/${video._id}/edit`) Edit Video
                    a(href=`/videos/${video._id}/delete`) Delete Video
    
        section.watch__comments
            div.watch__comments-header
                div
                    h2 Comments
                    span Share what you thought about this video.
                strong.watch__comment-count #{video.comments.length} comments
            if loggedIn
                form.video__comment-form#commentForm
                    textarea(name="text", rows="4", placeholder="Write a nice comment...")
                    button(type="submit") Add Comment
            else
                p.watch__login-message Log in to leave a comment.
            ul.watch__comment-list
                each comment in video.comments.slice().reverse()
                    - const ownerName = comment.owner && comment.owner.name ? comment.owner.name : "Anonymous";
                    - const ownerAvatarUrl = comment.owner && comment.owner.avatarUrl ? comment.owner.avatarUrl : "";
                    - const ownerAvatarSrc = ownerAvatarUrl && (ownerAvatarUrl.startsWith("http") || ownerAvatarUrl.startsWith("/")) ? ownerAvatarUrl : `/${ownerAvatarUrl}`;
                    - const isCommentOwner = loggedIn && comment.owner && String(comment.owner._id) === String(user._id);
                    - const commentLikes = comment.likes || [];
                    - const isCommentLiked = loggedIn && commentLikes.some((like) => String(like) === String(user._id));
                    li.watch__comment(data-id=comment._id)
                        if ownerAvatarUrl
                            img.watch__comment-avatar(src=ownerAvatarSrc, alt=ownerName)
                        else
                            div.watch__comment-avatar=ownerName.charAt(0).toUpperCase()
                        div.watch__comment-body
                            div.watch__comment-meta
                                strong=ownerName
                                div.watch__comment-actions
                                    span=comment.createdAt.toLocaleDateString("ko-KR")
                            p=comment.text
                            div.watch__comment-footer
                                if loggedIn
                                    button.watch__comment-like(type="button", class=isCommentLiked ? "is-liked" : "", data-liked=isCommentLiked ? "true" : "false", aria-label=isCommentLiked ? "Unlike comment" : "Like comment")
                                        i.watch__comment-like-icon(class=isCommentLiked ? "fas fa-heart" : "far fa-heart", aria-hidden="true")
                                        span.watch__comment-like-count=commentLikes.length
                                if isCommentOwner
                                    button.watch__comment-delete(type="button", aria-label="Delete comment") Delete
                else
                    li.watch__empty-comments No comments yet. Be the first to start the conversation.
block scripts
    script(src="/assets/js/videoPlayer.js")
    if loggedIn
        script(src="/assets/js/commentSection.js")
